<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Covid Safe Link</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">COVID Safe Link</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/individual">Individual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/group">Group</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-danger text-white">
    <div class="container text-center">
      <h1>Welcome to Covid Safe Link</h1>
      <p class="lead">Connecting you with your community.</p>

        <form method="POST">
          <div class="form-group">
            <label for="DestinationInput">Destination</label>
            <input type="text" class="form-control" name="DestinationInput" id="DestinationInput" aria-describedby="DestinationInputHelp" placeholder="Where do you want to go?">
            <br>
            <input class="form-control" type="datetime-local" value="2018-06-12T19:30" name="DatetimeIndividualInput" id="DatetimeIndividualInput">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
  </header>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Covid Safe Link 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
