<!DOCTYPE html>
<html lang="en" style="min-height: 100%;">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>COVID Safe Link</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">

</head>

<body id="page-top" style="min-height: 100vh;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" style="position: fixed; height: 10vh;">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">COVID Safe Link</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/individual">Individual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/group">Group</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-danger text-white" style="position: absolute; top: 10vh; width: 100%; overflow: auto; padding: 0px; padding-top: 5vh; bottom: 0;">
    <div class="container text-center" style="min-height: 70vh;">
      <h1>Travelling to {{ venueOut }} at {{ datetimein }}.</h1>
      <br><br>
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-6">
            <h3>
              {% if venueCOVIDSafeStatus == "True" %}
              <img alt="covid-safe-logo" data-entity-type="file" data-entity-uuid="bd72c3e2-2337-45e2-b2cc-71d65e28d4c9" height="100" src="https://www.nsw.gov.au/sites/default/files/2020-06/covid-safe-logo.png" width="100" class="align-right">
              <br><br>The business is registered as a COVID Safe Business.
            </h3>
            <p>

               {% else %}

              The business is NOT registered as a COVID Safe Business.
            </h3>
            <p>
              This business has not agreed to the following NSW Health guidance:<br>
Physical distancing<br>
Four square metre rule<br>
Face masks<br>
Self-isolation and quarantine<br>
Cleaning and disinfection in the workplace<br>
              {% endif %}
            </p>
            <img src="https://www.nsw.gov.au/sites/default/files/styles/content_x2/public/2020-08/dsicon-hygiene-marshal.png?itok=IDhuj7GU" width="50" height="50" alt="Cleaning" typeof="foaf:Image">
            <img src="https://www.nsw.gov.au/sites/default/files/styles/content_x2/public/2020-08/dsicon-cleaning-v2.png?itok=bOOzJj9J" width="50" height="50" alt="Cleaning" typeof="foaf:Image">
            <br><br>COVID Safe businesses and organisations are committed to getting back to work while protecting the community and preventing the spread of COVID-19.
             <br><br>Find more information on COVID Safe Businesses <a href="https://www.nsw.gov.au/covid-19/covid-safe">here.</a> 
             
          </div>
          
          <div class="col-md-6">
            <h3>
              {% if covidCountsInSuburbs > 0 %}
              <img src="https://transportnsw.info/sites/default/files/styles/tiles/public/image/2019/03/alert-blue-f6bg.jpg?itok=c6YpPnsy" alt="" typeof="foaf:Image" height=100 width=140><br><br>
              Your destination has had {{ covidCountsInSuburbs }} counts of COVID-19 in the last 14 days.
              {% else %}
              <img src="https://www.health.gov.au/sites/default/files/styles/square_thumbnail/public/covidsafe-app_1.png?itok=7NwBzw8l" alt="" typeof="foaf:Image" height=100 width=100><br><br>
              Your destination has had 0 counts of COVID-19 in the last 14 days.
              {% endif %}
            </h3>
            
            <p>
              Note: States and territories provide these figures daily. Due to the dynamic nature of case data, state and territory health departments may revise their daily numbers. Where previously reported cases are excluded after further investigation this may result in a reduction of total case numbers. *Locally acquired cases reported in the last 7 days includes cases reported as under investigation.
            </p>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-6">
            <h3>
              {% if busyVenueStatus == 0 %}
              <img src="https://transportnsw.info/sites/default/files/styles/tiles_desktop_x2/public/image/2019/03/alert-blue-f6bg.jpg?itok=bcSCNE7e" alt="" typeof="foaf:Image" width=140 height=100>
              <br><br>This is the best time to visit the business, as it is the least busy.
            </h3>
            <p>

               {% elif busyVenueStatus == 1 %}
               <img src="https://transportnsw.info/sites/default/files/styles/tiles/public/image/2019/03/alert-blue-f6bg.jpg?itok=c6YpPnsy" alt="" typeof="foaf:Image" height=100 width=140><br>
               <br>The business is likely to be busy at this time.
            </h3>
            <p>

              {% elif busyVenueStatus == 2 %}
              <img src="https://transportnsw.info/sites/default/files/styles/tiles/public/image/2019/03/alert-blue-f6bg.jpg?itok=c6YpPnsy" alt="" typeof="foaf:Image" height=100 width=140><br>
               <br>The business is likely to be at peak capacity at this time.
            </h3>
            <p>

              {% elif busyVenueStatus == 3 %}
              <img src="https://transportnsw.info/sites/default/files/styles/tiles/public/image/2019/03/alert-blue-f6bg.jpg?itok=c6YpPnsy" alt="" typeof="foaf:Image" height=100 width=140><br>
               <br>The business is likely to be at its busiest possible time in the day.
            </h3>
            <p>
              
              {% endif %}
            </p>
            {% if busyVenueData != 0 %}
            The business opening hours are {{ busyVenueData['day_info']['venue_open'] }}:00 until {{ busyVenueData['day_info']['venue_closed'] }}:00.
            <br>
            {% if busyVenueData['busy_hours']: %}
            The business is generally busy at the following hours of the day: 
            {% for hour in busyVenueData['busy_hours'] %}
            {% if hour == busyVenueData[-1]: %}
              {{ hour }}:00 
            {% else %}
            {{ hour }}:00
            {% endif %}
            {% endfor %}
            .<br>
            However, the peak hours are between {{ busyVenueData['peak_start'] }} and {{ busyVenueData['peak_end'] }}.
            <br>
            {% else %}
            The business is not busy today.
            {% endif %}
            
            {% elif busyVenueData == 1 %}
            Business is closed at these hours.
            {% else %}

            Estimation data for this business is not available. The venue was found, but could not be forecasted. Potential issues include: This place is not a business, closed for the whole week, is too new, or not does not have enough volume (visitors) to make a forecast.
            {% endif %}
            <br><br>
            Estimations have been made based on anonymised people counts averaged over time.
            Google has <a href="https://support.google.com/business/answer/6263531?hl=en">developed</a> this information from their services.
          </div>
          
          <div class="col-md-6">
            
            <img src="https://transportnsw.info/sites/default/files/styles/tiles_desktop_x2/public/image/2020/08/face-mask-story.jpg?itok=J0UDW35g" alt="" typeof="foaf:Image" width=140 length=140>
            
            {% if busyRouteStatus == 0 %}
              <img src="https://transportnsw.info/sites/default/files/styles/tiles_desktop_x2/public/image/2019/03/alert-blue-f6bg.jpg?itok=bcSCNE7e" alt="" typeof="foaf:Image" width=140 height=100>
              <br><br>This public transport route is NOT BUSY, and is following COVID Safe social distancing principles.
            </h3>
            <p>

               {% elif busyRouteStatus == 1 %}
               <img src="https://transportnsw.info/sites/default/files/styles/tiles/public/image/2019/03/alert-blue-f6bg.jpg?itok=c6YpPnsy" alt="" typeof="foaf:Image" height=100 width=140><br>
               <br>This public transport route is SOMEWHAT BUSY, and has a reduced chance of following COVID Safe social distancing principles.
            </h3>
            <p>

              {% elif busyRouteStatus == 2 %}
              <img src="https://transportnsw.info/sites/default/files/styles/tiles/public/image/2019/03/alert-blue-f6bg.jpg?itok=c6YpPnsy" alt="" typeof="foaf:Image" height=100 width=140><br>
               <br>This public transport route is BUSY, and has a reduced chance of following COVID Safe social distancing principles.
            </h3>
            <p>

              {% elif busyRouteStatus == 3 %}
              <img src="https://transportnsw.info/sites/default/files/styles/tiles/public/image/2019/03/alert-blue-f6bg.jpg?itok=c6YpPnsy" alt="" typeof="foaf:Image" height=100 width=140><br>
               <br>This public transport route is VERY BUSY, and is impossible to follow COVID Safe social distancing principles.
            </h3>
            <p>
              
              {% endif %}
           
            <p>
              Please wear a face mask on public transport. NSW Health strongly <a href = "https://transportnsw.info/covid-19/covid-19-safer-travel-guidance">recommends</a> wearing a face mask.
            </p>
          </div>
        </div>
        <br><br>
        


        <div class="row">
          <div class="col-md-12">
            <h3>
             Based on this information, your trip has been classified "HIGH RISK".
            </h3>
            <p>
              Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
            </p>
          </div>
        </div>
      </div>

    </div>

      <!-- Footer -->
    <footer class="py-5 bg-dark navbar-static-bottom" style="bottom: 0; width: 100%; height: 15vh;">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Covid Safe Link 2020</p>
      </div>
      <!-- /.container -->
    </footer>
  </header>

</body>

</html>
